* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width: 1400px;
    font-weight: 400;
    background-color: #FFF;
    font-size: 16px;
}

header {
    white-space: nowrap;
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5, .filtres_ul li, .form_input {
    font-weight: 700;
}

.en_tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar {
    display: flex;
    margin: 48px 0 59px 138px;
    width: 381px;
}

.nav_bar a {
    text-decoration: none;
    color: black;
}

.nav_bar a:hover {
    color: #0065FC;
}

#a_droit {
    margin-left: 67px;
}

.h1_header {
    font-size: 22px;
    height: 26px;
}

.p_header {
    margin-bottom: 20px;
}

.h1_header, .p_header, .logo, .localisation_div, .infobulle {
    margin-left: 49.5px;
}


.localisation_div {
    display: flex;
    align-items: center;
    position: relative;
    width: 27%;
}

.localisation_img {
    position: absolute;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 16px 18px 16px 18px;
    align-items: center;
}

.localisation_img:hover {
    cursor: pointer;
}

.form_input {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: 1px solid #F2F2F2;
    padding: 16px 30% 16px 17px;
    border-radius: 16px 0px 0px 16px;
}

/*input:focus {
    outline: none;
} J'ai préféré ne pas le mettre, suite à des recherches, pour des questions d'accessibilités*/

.rechercher {
    position: absolute;
    color: #fff;
    font-size: 18px;
    padding: 16px 16px 17px 16px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.rechercher:hover {
    background-color: #2177f8;
    cursor: pointer;
}

.filtres_ul {
    display: flex;
    width: 914px;
    height: auto;
    margin: 39px auto 51px 49.5px;
    padding-inline-start: 0;
    align-items: center;
    justify-content: space-between;
    
}

.filtres_ul li {
    list-style: none;
    size: 18px;
}

.filtres_ul li:last-child {
    margin-right: 0;
}

.li_border {
    border: 3px #F2F2F2 solid;
    padding: 17px 22.5px;
    border-radius: 30px;
    display: flex;
    white-space: nowrap;
}

.vecteur {
    padding-right: 10px;
}

.infobulle {
    margin-top: 38px;
}

.infobulle img {
    transform: translate(0, 30%);
    margin-right: 10px;
}

/* section */

section {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.articles, .aside {
    background-color: #F2F2F2;
    height: 626px;
    margin-left: 40px;
    border-radius: 20px;
}

.articles {
    width: 870px;
}

.aside {
    width: 410px;
    margin-right: 40px;
}