* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 1440px;
    height: 1884px;
    font-weight: 400;
    background-color: #FFF;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

.en_tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar {
    margin-top: 48px;
    margin-bottom: 59px;
    margin-right: 77px;
}

.nav_bar a {
    text-decoration: none;
    color: black;
}

.nav_bar a:hover {
    color: #0065FC;
}

#a_droit {
    margin-left: 67px;
}

.h1_header {
    font-size: 22px;
    height: 26px;
}

.h1_header, .p_header, .logo, .localisation_img {
    margin-left: 55px;
}

.localisation_header {
    display: flex;
}

.localisation_img {
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 16px 18px 15px 18px;
    align-items: center;
}

.rechercher {
    color: #fff;
    font-size: 18px;
    padding: 14px 16px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    margin-left: 341px;
}

.rechercher:hover {
    background-color: #2177f8;
}