* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    max-width: 1400px;
    font-weight: 400;
    background-color: #FFF;
    font-size: 16px;
    padding: 0 50px;
}

.logo:hover, .nav_bar a:hover, .li_border:hover, .localisation_img:hover, .articles_card:hover, .aside_cards:hover, .bas_card:hover {
    cursor: pointer;
}

.header_principal {
    white-space: nowrap;
    margin-bottom: 36px;
}

h1, h2, h3, .filtres_ul li, .form_input {
    font-weight: 700;
}

h1, h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}

.en_tete {
    display: flex;
}

.logo {
    margin-right: auto;
    padding-top: 44px;
    padding-bottom: 63px;
}

.logo:hover {
    filter: drop-shadow(0 0 0.02px #0056d6);
}

.nav_bar {
    display: flex;
    justify-content: space-between;
}

.nav_bar a:first-child {
    margin-right: 67px;
}

.nav_bar a {
    padding: 48px 15px 0;
}

.nav_bar a, .bas_de_page a {
    text-decoration: none;
    color: black;
}

.nav_bar a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 46px;
}

.h1_header {
    margin-top: 0;
    margin-bottom: 8px;
}

.p_header {
    margin-top: 0;
    margin-bottom: 20px;
}

.header_formulaire {
    display: flex;
    align-items: center;
    width: 27%;
}

.rechercher:nth-child(4) {
    display: none;
}

.localisation_img {
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 17px 18px 16px 18px;
    align-items: center;
    flex-shrink: 0;
    transform: translate(4%, 0);
}

.form_input {
    flex-shrink: 0;
    font-size: 1.2rem;
    border: 1px solid #F2F2F2;
    padding: 16px 0 16px 7% ;
}

::placeholder {
    color: black;
}

.rechercher {
    flex-shrink: 0;
    color: #fff;
    font-size: 1.2rem;
    padding: 16px 16px 16px 16px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    transform: translate(-2%, 0);
}

.rechercher:hover {
    background-color: #2177f8;
    cursor: pointer;
}

.div_filtres {
    display: flex;
    align-items: center;
    margin: 30px 0 0;
}

.filtres_ul {
    display: flex;  
    width: 70%;
    justify-content: space-between;  
    margin: 0;
    padding-inline-start: 4%;
}

.filtres_ul li {
    list-style: none;
}

.filtres_ul li:last-child {
    margin-right: 0;
}

.li_border {
    border: 3px #F2F2F2 solid;
    padding: 2% 2.5%;
    border-radius: 30px;
    display: flex;
    white-space: nowrap;
}

.li_border:hover {
    background-color: #DEEBFF;
}

.vecteur {
    padding-right: 10px;
}

.infobulle {
    margin-top: 38px;
}

.infobulle img {
    margin-right: 10px;
    vertical-align: middle;
}

/* section */

.section_haut {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.articles, .aside {
    background-color: #F2F2F2;
    padding: 25px 30px 0;
    border-radius: 20px;
}

.articles {
    display: grid;
    width: 68%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .25fr 2fr 2fr .5fr;
    object-fit: contain;
    gap: 25px;
}

.articles_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(70, 65, 65, 0.4);
}

.articles_card:hover {
    transform: scale(1.05 , 1.05);
    transition: 0.5s;
}

.articles_card:hover > img {
    transform: scale(0.95);
}

.img_card {
    margin: 0;
}

.img_card img {
    margin: 0;
    width: 100%;
    height: 124px;
    padding: 5px 5px 0 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
}

.card_body {
    width: 100%;
    padding: 0 16px;
    align-items: center;
}

.body_card_title {
    padding-top: 1%;
    font-size: 1rem;
    margin:0; 
}

.card_body p {
    padding-top: 2%;
    margin: 0;
    font-size: 0.9rem;
}

.stars {
    font-size: .8rem;
    word-spacing: -.5ch;
    padding: 3% 14px;
    white-space: nowrap;
}

.stars i {
    color: #0065FC;
}

.stars i:last-child {
    color: #F2F2F2;
}

.article_h2 {
    vertical-align: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: max-content;
}

section h2 {
    margin: 0;
}

.box_1, .box_2, .box_3 {
    grid-row: 2 / 3;
}

.box_1 {
    grid-column: 1 / 2;
}

.box_2 {
    grid-column: 2 / 3;
}

.box_3 {
    grid-column: 3 / 4;
}

.box_4, .box_5, .box_6 {
    grid-row: 3 / 4;
}

.box_4 {
    grid-column: 1 / 2;
}

.box_5 {
    grid-column: 2 / 3;
}

.box_6 {
    grid-column: 3 / 4;
}

.box_a {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    font-size: 1.2rem;
    text-decoration: none;
}

.aside {
    width: 30%;
    display: block;
}

.aside_en_tete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9%;
    align-items: center;
}

.aside h2 {
    white-space: nowrap;
}

.aside_en_tete img {
    object-fit: contain;
}

.graphique {
    align-items: center;
    padding-top: 5px;
}

.aside_cards {
    width: 100%;
    height: 144px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(70, 65, 65, 0.4);
    display: flex;
    margin-bottom: 9%;
}

.aside_card_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside_card_body > * {
    margin: 0;
}

.aside_cards:hover {
    transform: scale(1.05 , 1.05);
    transition: 0.5s;
}

.aside_cards:hover > img {
    transform: scale(0.95);
}

.aside_cards > img {
    width: 42%;
    height: 100%;
    padding: 5px 5px 5px 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.aside_card_body {
    width: 60%;
    height: 144px;
    padding: 3%;
    align-content: space-between;
    overflow: hidden;
}

.aside_card_body_title {
    margin: 0;
}

.aside_card_body p {
    padding-top: 7px;
    margin: 0;
    font-size: 0.9rem;
}

.aside_cards .stars {
    padding-left: 0;
    padding-bottom: 0;
}

.section_bas {
    display: grid;
    grid-row: 1fr 90%;
    width: 100%;
}

.titre_section_bas {
    margin: 60px 0 18.5px 0;
}

.section_bas_cards {
    display: flex;
    object-fit: fill;
}

.bas_card {
    display: grid;
    grid-template-rows: 85% 15%;
    width: 22.5%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(172, 161, 161, 0.4);
}

.bas_card:hover {
    transform: rotate(1deg);
}

.bas_card img {
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.bas_card:first-child, .bas_card:nth-child(2), .bas_card:nth-child(3) {
    margin-right: 5%;
}

.bas_card_title {
    grid-row: 2 / 3;
    align-self: center;
    align-items: center;
    padding-left: 10%;
}

.bas_de_page {
    height: 225px;
    width: 100%;
    margin-top: 60.5px;
    background-color: #F2F2F2;
    display: flex;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style: none;
}

.footer_title {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.nav_1, .nav_2, .nav_3 {
    flex: 1;
}

.nav_1 {
    margin: 45px 0 0 70px;
}

.nav_2, .nav_3 {
    margin-top: 45px;
}

.li_footer {
    margin-bottom: 12px;
}

/*tablette*/

@media screen and (max-width: 991px) {

    h3 {
        font-size: .9rem;
    }

    p {
        font-size: .8rem;
    }

    .filtres_ul {
        width: 100%;
    }

    .section_haut {
        display: block;
    }

    .articles {
        width: 100%;
    }

    .aside {
        display: grid;
        width: 100%;
        height: 278px;
        margin-top: 53px;
        grid-template-rows: .3fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 23px;
    }

    .aside h3 {
        padding-right: 15px;
    }

    .aside p {
        white-space: nowrap;
        font-size: 0.8rem;
    }

    .aside_cards {
        height: 144px;
    }

    .aside_cards img {
        width: 45%;
    }

    .aside footer {
        align-self: flex-end;
    }

    .aside_en_tete {
        margin: 0;
        grid-row: 1;
        grid-column: 1 / 4;
    }

    .aside_card_body {
        height: 100%;
        padding: 12px 5px;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0;
    }

    .bas_card {
        height: 267px;
        display: grid;
        grid-template-rows: 80% 20%;
    }

    .bas_card img {
        height: 100%;
    }

    .bas_card h3 {
        height: 100%;
        margin: 0;
        padding-left: 17px;
        padding-right: 17px;
    }

    .bas_card_title {
        align-self: center;
    }

    #notre_dame {
        padding-right: 36px;
    }

    .bas_de_page {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {

    body {
        padding: 0;
        min-width: 400px;
    }

    header {
        white-space: normal;
    }

    .en_tete {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        margin: 0;
        padding: 21px 0;
        text-align: center;
    }

    .nav_bar {
       width: 100%;
       margin: 0;
    }

    .nav_bar a {
        text-align: center;
        margin: 0;
        width: 50%;
        padding: 0 0 20px 0;
        border-bottom: 2px solid #F2F2F2;
    }

    .nav_bar a:hover {
        border-bottom-color: #0065FC;    
        border-top: none;    
        padding-top: 0;
        color: #0065FC;
    }

    #a_gauche {
        margin: 0;
    }

    .h1_header{
        margin: 31px 20px 13px 20px;
    }

    .p_header {
        font-size: 1rem;
        margin-left: 20px;
    }
    
    .header_formulaire {
        display: flex;
        margin-left: 4%;
        width: 80%;
    }

    .form_input{
        font-size: 1rem;
        padding: 18px 0 18px 28px;
    }


    .rechercher:nth-child(3) {
        display: none;
    }

    .rechercher:nth-child(4) {
        display: inline-block;
    }

    .div_filtres {
        display: block;
        margin-left: 4%;
    }

    .filtres_ul {
        display: grid;
        grid-template-rows: 50px 50px;
        grid-template-columns: 48% 48%;
        row-gap: 17px;
        column-gap: 14px;
        padding-inline-start: 0;
        padding-right: 30px;
    }

    .filtres_ul:first-child {
        grid-area: 1 / 1 / 2 / 2;
    }

    .filtres_ul:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    #filtres {
        font-size: 1.1rem;
    }

    .vecteur {
        vertical-align: middle;
    }

    .li_border {
        padding: 11px 0 10px 10px;
        display: table-cell;
        font-size: .7rem;
        width: 100%;
    }

    .infobulle {
        display: flex;
        padding-left: 20px;
    }

    .infobulle img {
        position: relative;
        transform: translate(0,-20%);
        object-fit: contain;
    }

    .section_haut {
        display: flex;
        flex-direction: column-reverse;
    }

    .aside {
        display: block;
        width: 100%;
        border-radius: 0;
        padding: 0 20px;
        margin: 0;
        height: auto;
    }

    .aside_cards {
        width: 100%;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(70, 65, 65, 0.4);
        display: flex;
        margin-bottom: 3%;
    }

    .aside_cards:last-child {
        margin-bottom: 40px;
    }

    .aside_en_tete {
        padding: 27px 0;
    }

    .aside_card_body_title {
        font-size: 1rem;
    }

    .aside_card_body p {
        font-size: .9rem;
    }

    .aside .stars {
        align-self: flex-start;
    }

    .articles {
        display: block;
        width: 100%;
        background-color: #FFF;
    }

    .article_h2 {
        margin-bottom: 20px;
    }

    .articles_card {
        margin-bottom: 20px;
    }

    .box_a {
        display: none;
    }

    .articles_card img {
        object-fit: cover;
    }

    .section_bas {
        padding: 0 30px;
    }

    .titre_section_bas {
        width: 150px;
        margin-top: 105px;
        white-space: normal;
    }

    .section_bas_cards {
        display: block;
    }

    .bas_card {
        width: 100%;
        margin-bottom: 24px;
        display: grid;
        grid-template-rows: 70% 30%;
    }

    .bas_card h3 {
        height: 100%;
        margin: 0;
        font-size: 1rem;
        padding-left: 17px;
        padding-right: 17px;
    }

    .bas_de_page {
        width: 100%;
        height: auto;
        flex-direction: column;
    }   

    .nav_1, .nav_2, .nav_3 {
        margin-left: 30px;
    }

}

